In [2]:
import pandas

In [3]:
import numpy

In [5]:
data = pandas.read_csv('5f71fd5469da7_tatacliq_data_csv.csv', encoding='ISO-8859-1')

In [6]:
data

,Invoice Code,Description,Category,Quantity,Price per unit,Order Date,Customer Name,Pin code,City (Dispatch),Item Returned,Mode of Payment,Customer Experience Rating
0,454666,Coolpix DSLR,Camera & Photo Accessories,2,8250,03-01-2020,Maya,560016,Chennai,No,Credit Card,4
1,454674,Powerbank 10000mAH,Electronic Accessories & Gadgets,8,4372,16-01-2020,Sahil,380001,Delhi,No,UPI,3
2,454679,Beard Trimmer,Beauty And Personal Care,10,965,30-01-2020,Shreya,380002,Hyderabad,No,Credit Card,5
3,454686,Powerbank 10000mAH,Electronic Accessories & Gadgets,8,5799,03-01-2020,Shrey,380003,Hyderabad,Yes,COD,3
4,454689,Coolpix DSLR,Camera & Photo Accessories,2,8465,14-01-2020,Farhan,380003,Bangalore,No,UPI,5
...,...,...,...,...,...,...,...,...,...,...,...,...
395,456431,4-layered Face Masks,Beauty And Personal Care,10,692,30-04-2020,Yash,110004,Mumbai,No,Debit Card,4
396,456438,Cotton Kurta for Women,"Clothes, Shoes, and Jewellery",8,3481,30-04-2020,Om,500037,Chennai,Yes,Debit Card,3
397,456439,Building Blocks - Set of 501,Toys & Games,3,205,30-04-2020,Deepika,600079,Delhi,No,UPI,5
398,456443,"Rich Dad, Poor Dad",Books,1,934,30-04-2020,Simran,560020,Ahmedabad,Yes,UPI,3
399,456445,Galazy Note 21,Electronic Accessories & Gadgets,8,3748,30-04-2020,Simran,560020,Bangalore,No,COD,5

In [7]:
data.columns

Index(['Invoice Code', 'Description', 'Category', 'Quantity', 'Price per unit',
       'Order Date', 'Customer Name', 'Pin code', 'City (Dispatch)',
       'Item Returned', 'Mode of Payment', 'Customer Experience Rating'],
      dtype='object')

In [19]:
data ['sale' ]  = data['Quantity'] * data['Price per unit']

In [9]:
data.Category.value_counts()

Beauty And Personal Care            77
Clothes, Shoes, and Jewellery       62
Electronic Accessories & Gadgets    60
Books                               59
Toys & Games                        57
Camera & Photo Accessories          44
Video Games & Consoles              41
Name: Category, dtype: int64

In [15]:
data['Order Date'] >= '30-04-2020'

0      False
1      False
2      False
3      False
4      False
       ...
395     True
396     True
397     True
398     True
399     True
Name: Order Date, Length: 400, dtype: bool

In [16]:
'01-01-2020' > '30-04-2020'

False

In [21]:
data[ (data['Order Date']>= '01-01-2020') & (data['Order Date']<= '30-04-2020')].sale.sum()

6347092

In [22]:
data

,Invoice Code,Description,Category,Quantity,Price per unit,Order Date,Customer Name,Pin code,City (Dispatch),Item Returned,Mode of Payment,Customer Experience Rating,sale
0,454666,Coolpix DSLR,Camera & Photo Accessories,2,8250,03-01-2020,Maya,560016,Chennai,No,Credit Card,4,16500
1,454674,Powerbank 10000mAH,Electronic Accessories & Gadgets,8,4372,16-01-2020,Sahil,380001,Delhi,No,UPI,3,34976
2,454679,Beard Trimmer,Beauty And Personal Care,10,965,30-01-2020,Shreya,380002,Hyderabad,No,Credit Card,5,9650
3,454686,Powerbank 10000mAH,Electronic Accessories & Gadgets,8,5799,03-01-2020,Shrey,380003,Hyderabad,Yes,COD,3,46392
4,454689,Coolpix DSLR,Camera & Photo Accessories,2,8465,14-01-2020,Farhan,380003,Bangalore,No,UPI,5,16930
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,456431,4-layered Face Masks,Beauty And Personal Care,10,692,30-04-2020,Yash,110004,Mumbai,No,Debit Card,4,6920
396,456438,Cotton Kurta for Women,"Clothes, Shoes, and Jewellery",8,3481,30-04-2020,Om,500037,Chennai,Yes,Debit Card,3,27848
397,456439,Building Blocks - Set of 501,Toys & Games,3,205,30-04-2020,Deepika,600079,Delhi,No,UPI,5,615
398,456443,"Rich Dad, Poor Dad",Books,1,934,30-04-2020,Simran,560020,Ahmedabad,Yes,UPI,3,934
399,456445,Galazy Note 21,Electronic Accessories & Gadgets,8,3748,30-04-2020,Simran,560020,Bangalore,No,COD,5,29984

In [23]:
x = data[ (data['Order Date']>= '01-03-2020') & (data['Order Date']<= '31-03-2020')].groupby('City (Dispatch)').sale.sum()

City (Dispatch)
Ahmedabad     700638
Bangalore    1296567
Chennai      1178702
Delhi         983776
Hyderabad    1289205
Mumbai        858299
Name: sale, dtype: int64

In [24]:
y = data[ (data['Order Date']>= '01-04-2020') & (data['Order Date']<= '30-04-2020')].groupby('City (Dispatch)').sale.sum()

City (Dispatch)
Ahmedabad     700638
Bangalore    1286257
Chennai      1171552
Delhi         931046
Hyderabad    1289205
Mumbai        852519
Name: sale, dtype: int64

In [25]:
x = data[ (data['Order Date']>= '01-03-2020') & (data['Order Date']<= '31-03-2020')].groupby('City (Dispatch)').sale.sum()
y = data[ (data['Order Date']>= '01-04-2020') & (data['Order Date']<= '30-04-2020')].groupby('City (Dispatch)').sale.sum()

In [26]:
x / y

City (Dispatch)
Ahmedabad    1.000000
Bangalore    1.008016
Chennai      1.006103
Delhi        1.056635
Hyderabad    1.000000
Mumbai       1.006780
Name: sale, dtype: float64

In [27]:
data

,Invoice Code,Description,Category,Quantity,Price per unit,Order Date,Customer Name,Pin code,City (Dispatch),Item Returned,Mode of Payment,Customer Experience Rating,sale
0,454666,Coolpix DSLR,Camera & Photo Accessories,2,8250,03-01-2020,Maya,560016,Chennai,No,Credit Card,4,16500
1,454674,Powerbank 10000mAH,Electronic Accessories & Gadgets,8,4372,16-01-2020,Sahil,380001,Delhi,No,UPI,3,34976
2,454679,Beard Trimmer,Beauty And Personal Care,10,965,30-01-2020,Shreya,380002,Hyderabad,No,Credit Card,5,9650
3,454686,Powerbank 10000mAH,Electronic Accessories & Gadgets,8,5799,03-01-2020,Shrey,380003,Hyderabad,Yes,COD,3,46392
4,454689,Coolpix DSLR,Camera & Photo Accessories,2,8465,14-01-2020,Farhan,380003,Bangalore,No,UPI,5,16930
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,456431,4-layered Face Masks,Beauty And Personal Care,10,692,30-04-2020,Yash,110004,Mumbai,No,Debit Card,4,6920
396,456438,Cotton Kurta for Women,"Clothes, Shoes, and Jewellery",8,3481,30-04-2020,Om,500037,Chennai,Yes,Debit Card,3,27848
397,456439,Building Blocks - Set of 501,Toys & Games,3,205,30-04-2020,Deepika,600079,Delhi,No,UPI,5,615
398,456443,"Rich Dad, Poor Dad",Books,1,934,30-04-2020,Simran,560020,Ahmedabad,Yes,UPI,3,934
399,456445,Galazy Note 21,Electronic Accessories & Gadgets,8,3748,30-04-2020,Simran,560020,Bangalore,No,COD,5,29984

In [29]:
data [data['Category'] == 'Electronic Accessories & Gadgets' ]['Customer Name'].value_counts()

Simran       5
Shrey        4
Uma          4
Himmat       3
Rohan        3
Yash         3
Shivani      3
Salman       2
Gaurav       2
Pranav       2
Ekta         2
Farhan       2
Nikhil       2
Aishwarya    2
Mohammed     2
Tara         2
Kabir        1
Imraan       1
Kartik       1
Aditya       1
Gauhar       1
Vaishnavi    1
Pooja        1
Ashish       1
Dhruv        1
Sahil        1
Gayatri      1
Bhoomi       1
Dalbir       1
Aditi        1
Zoya         1
Daljeet      1
Shreya       1
Name: Customer Name, dtype: int64

In [31]:
data['Mode of Payment'].value_counts()

Credit Card    112
COD             97
Debit Card      97
UPI             94
Name: Mode of Payment, dtype: int64